h1 {
    display: flex;
    justify-content: center;
    background-color: #190061;
    border-radius: 10px;
}
.about-me {
    background-color: #282828;
    color: #edc7b7;
    border: 4px solid #edc7b7;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
p {
    font-size: 20px;
}
.img-container {
    display: flex;
    justify-content: center;
    background-color: #282828;
    border: 3px solid #edc7b7;
}