h1 {
    display: flex;
    justify-content: center;
    background-color: #190061;
    border-radius: 10px;
}
.contact-me {
    background-color: #282828;
    color: #edc7b7;
    border: 4px solid #edc7b7;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}