.container-fluid {
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    color: #3500D3;
    
}
.nav-link {
    color: #EDC7B7;
    border-radius: 10%;
    border: 3px #EDC7B7 solid;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    background-color: #190061;
    
}
.navbar-brand {
   font-size: 40px;
   display: flex;
   align-items: center;
   color: #EDC7B7;
   margin-left: 8px;
   background-color: #190061;
   border-radius: 10px;
   margin-top: 4px;
}
.navbar-nav {
    display: flex;
    list-style-type: none;
}