h1 {
    display: flex;
    justify-content: center;
    background-color: #190061;
    border-radius: 10px;
}
.tech {
    background-color: #282828;
    color: #edc7b7;
    border: 4px solid #edc7b7;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Java {
    height: 50px;
    width: 50px;
}
